html,body{margin: 0; padding: 0; width: 100%;}

h3{
    height: 100px;
    margin: 200px 0 0 ;
}

#left,#right{
    width: 200px;
    height:100px;
    position: absolute;
    background: red;
}
#left{
    left:0;
}

#right{
    right:0;
}

#center{
    margin:0 210px;
    background: #eee;
    height:200px;
}